[Unit]
Description=Uvicorn instance to serve Bakery Platform
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/home/<username>/
Environment="KEY_PATH=/home/<username>/"
Environment="BUCKET_NAME=bucket-name"
Environment="PATH=/home/<username>/"
ExecStart=/home/<username>/platform-name/venv/bin/python -m uvicorn main:app --host 0.0.0.0 --port 443 --access-log

Restart=always

# Log both stdout and stderr to the same single file
StandardOutput=append:$LOG_FILE
StandardError=append:$LOG_FILE


[Install]
WantedBy=multi-user.target
